<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/travis/IdeaProjects/Selenium2">
    <classes><class name="Ejecucion.Ejecucion">
        <methods><include name="Abrir"/>
            <include name="Vuelo"/><include name="Elegir"/><include name="Captura"/>
        </methods>
    </class></classes></test></suite>